# Package directories
node_modules

# Serverless directories
.serverless
.build
.dynamodb

# Webpack directories
.webpack

# Eslint
.eslintcache

# Misc
.env
.idea
vscode
*.zip
.DS_Store
package-lock.json
*.log
.yarnclean

# Test
coverage
